<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OpenCart Regression Suite">

    <test name="OpenCart Tests">

        <classes>
            <class name="com.opencart.tests.LoginTest"/>
            <class name="com.opencart.tests.RegisterTest"/>
            <class name="com.opencart.tests.CartTest"/>
            <class name="com.opencart.tests.CheckoutTest"/>
            <class name="com.opencart.tests.SearchTest"/>
        </classes>

    </test>

</suite>