<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OpenCart Regression Suite">

    <suite-files>
        <suite-file path="login.xml"/>
        <suite-file path="register.xml"/>
        <suite-file path="search.xml"/>
        <suite-file path="cart.xml"/>
        <suite-file path="checkout.xml"/>
    </suite-files>

</suite>